body{
    color: #333;
    font-size: 0.75rem;
    font-family: 'Raleway', sans-serif;
}

main{
display: flex; 
align-items: center;
padding: 0 auto;

}

img{

}

p{

}

/*header*/
header{
    margin: 50px 140px;
}

header img{
    width: 80px;
    height: 100%;
    display: flex;
    align-items: center;
    margin: 0 auto;
}

#header-ber{
    display: flex;
    align-content: space-between ;
}
